body, html, div,  img, p, h1, h2, h3, h4,  ul, 
li, a
{margin: 0; padding: 0; border: 0; outline: none;}
body {	font-family: "微软雅黑";font-size: 14px;color:#000000;line-height: 20px;text-align:left;}

a {color: #000000;} 
A:link {TEXT-DECORATION: none;}
A:visited {TEXT-DECORATION: none;}

ul,li{list-style-type:none;}
.clearit{clear:both;}

.nav {width:100%; height:50px; background:#b60d0f;}
.nav ul {width:1000px; margin:0 auto;}
.nav ul li {width:200px; float:left; text-align:center; line-height:50px;}
.nav ul li a { font-size:18px; color:#FFF; font-weight:400; width:200px; height:50px; display:block;}
.nav ul li A:hover { background:#e1100c}
.ban {width:100%; height:400px; overflow: hidden;}
.xia {width:1000px; margin:0 auto;}
.title {width:1000px; height:50px; background:url(../images/t.png); margin-top:30px;}
.title p { padding-left:80px; padding-top:15px; font-size:20px; font-weight:800; color:#b60d0f;}
.zuo { width:680px; float: left; }
.yi p { line-height:30px; text-indent:2em}
.tu {margin-top:10px;}
.tu li {width:333.33px; float:left; text-align:center; margin-top:20px;}
.you {width:300px; float:left; margin-left:10px; margin-top:20px;}
.you img {margin-top:20px;}
.foot {width:100%; height:70px; background:#b60d0f; margin-top:30px; text-align:center; line-height:70px; font-size:18px; color:#FFF; font-weight:400;}
.yi ul li { width:500px; float:left; margin-top:20px; }
.yi ul li  A:hover  { color:#e1100c}
.yi h3 {margin-top:20px; margin-bottom:10px;}
.shi { margin-top:10px;}
.shi li { width:333.33px; float:left; text-align:center; line-height:25px; margin-top:20px;}
.shi li  A:hover  { color:#e1100c}